################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DotNetConf
/DotNetConf/bin/Debug/netcoreapp3.0
/DotNetConf/obj
